# Python For Data Science on Stocks Data (Tutorial Series)

## Video Tutorial 1 Code

**This course series is in which we will learn to use python for data science on stocks data. The whole series is intended to make learners equipped with all the basic to advanced skills that are needed to perform data analytics and science on financial data.**

In [ ]:
# Install yfinance package
!pip install yfinance

In [1]:
# load the packages
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# load the list of tickers listed at NSE from the csv file
list_tickers_nse = pd.read_csv("all_stock_codes_nse.csv")

In [3]:
list_tickers_nse.head(3)

       Symbol                              Company_Name   Yahoo_Symbol
0   20MICRONS                        20 Microns Limited   20MICRONS.NS
1  21STCENMGM  21st Century Management Services Limited  21STCENMGM.NS
2  3IINFOTECH                       3i Infotech Limited  3IINFOTECH.NS

In [4]:
# get the tickers data into a list
yahoo_symbols = list_tickers_nse.Yahoo_Symbol.to_list()

In [5]:
# type of the data
type(yahoo_symbols)

list

In [6]:
# first three elements in the list
print(yahoo_symbols[0:3])

['20MICRONS.NS', '21STCENMGM.NS', '3IINFOTECH.NS']

In [7]:
# what is the length of list elements?
print(len(yahoo_symbols))

1627

In [23]:
# get the data for these tickers from yahoo finance, default is one day interval data
tickers_data = yf.download(yahoo_symbols, start="2020-01-01", end="2020-04-10", group_by="ticker")

[*********************100%***********************]  1627 of 1627 completed

2 Failed downloads:
- KALYANI.NS: No data found, symbol may be delisted
- NIRAJISPAT.NS: No data found, symbol may be delisted

In [90]:
tickers_data.head(3)

           EIHAHOTELS.NS                                                  \
                    Open        High         Low       Close   Adj Close
Date
2020-01-01    315.399994  315.399994  303.000000  305.100006  305.100006
2020-01-02    300.049988  314.950012  300.049988  313.600006  313.600006
2020-01-03    310.600006  313.750000  303.500000  306.600006  306.600006

                       GNA.NS                                      ...  \
           Volume        Open        High         Low       Close  ...
Date                                                               ...
2020-01-01    757  268.500000  276.049988  268.250000  271.700012  ...
2020-01-02   2180  272.000000  290.799988  272.000000  278.000000  ...
2020-01-03   4359  278.399994  281.149994  271.100006  272.549988  ...

           SADBHIN.NS                               EASTSILK.NS             \
                  Low      Close  Adj Close  Volume        Open  High  Low
Date
2020-01-01  35.400002  38.750000  38.750000  185981        1.00  1.05  1.0
2020-01-02  38.900002  40.950001  40.950001   93957        1.05  1.05  1.0
2020-01-03  35.650002  39.150002  39.150002   93226        1.00  1.00  1.0


           Close Adj Close Volume
Date
2020-01-01  1.05      1.05   5236
2020-01-02  1.00      1.00   5681
2020-01-03  1.00      1.00    518

[3 rows x 9762 columns]

In [25]:
# to access individual ticker from the dataframe
tickers_data['GNA.NS'][['Open', 'Close']].head()

                  Open       Close
Date
2020-01-01  268.500000  271.700012
2020-01-02  272.000000  278.000000
2020-01-03  278.399994  272.549988
2020-01-06  273.000000  259.350006
2020-01-07  263.750000  261.200012

In [26]:
# save the data for future use
tickers_data.to_csv("NSE_Tickers_Data.csv")

In [89]:
# make a copy of full dataset
closed_price_df = tickers_data.copy()

In [91]:
# clean the dataset into a dataset that contains only 'Close' prices, datewise, for all the scrips
closed_price_df = closed_price_df.iloc[:, closed_price_df.columns.get_level_values(1)=='Close']
closed_price_df.head(3)

,EIHAHOTELS.NS,GNA.NS,FLEXITUFF.NS,VOLTAMP.NS,PROSEED.NS,ZENSARTECH.NS,CANDC.NS,BANKINDIA.NS,KDDL.NS,WHEELS.NS,...,FORCEMOT.NS,KEI.NS,ADVENZYMES.NS,VARDHACRLC.NS,EXCELINDUS.NS,PIONEEREMB.NS,LINCOLN.NS,SUNDRMFAST.NS,SADBHIN.NS,EASTSILK.NS
,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close,...,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,305.100006,271.700012,7.45,1205.000000,0.25,175.399994,2.6,70.449997,318.100006,604.150024,...,1091.849976,474.950012,164.500000,34.700001,865.549988,29.350000,204.850006,502.799988,38.750000,1.05
2020-01-02,313.600006,278.000000,7.10,1209.449951,0.30,180.300003,2.5,71.250000,309.899994,609.450012,...,1073.250000,473.250000,169.300003,34.950001,882.049988,33.450001,210.000000,501.649994,40.950001,1.00
2020-01-03,306.600006,272.549988,6.75,1249.849976,0.30,190.949997,2.6,70.699997,307.600006,612.750000,...,1095.349976,467.399994,169.399994,34.900002,882.099976,34.500000,207.600006,501.649994,39.150002,1.00

In [92]:
# drop the level 'Close'
closed_price_df.columns = closed_price_df.columns.droplevel(1)
closed_price_df.head(3)

,EIHAHOTELS.NS,GNA.NS,FLEXITUFF.NS,VOLTAMP.NS,PROSEED.NS,ZENSARTECH.NS,CANDC.NS,BANKINDIA.NS,KDDL.NS,WHEELS.NS,...,FORCEMOT.NS,KEI.NS,ADVENZYMES.NS,VARDHACRLC.NS,EXCELINDUS.NS,PIONEEREMB.NS,LINCOLN.NS,SUNDRMFAST.NS,SADBHIN.NS,EASTSILK.NS
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,305.100006,271.700012,7.45,1205.000000,0.25,175.399994,2.6,70.449997,318.100006,604.150024,...,1091.849976,474.950012,164.500000,34.700001,865.549988,29.350000,204.850006,502.799988,38.750000,1.05
2020-01-02,313.600006,278.000000,7.10,1209.449951,0.30,180.300003,2.5,71.250000,309.899994,609.450012,...,1073.250000,473.250000,169.300003,34.950001,882.049988,33.450001,210.000000,501.649994,40.950001,1.00
2020-01-03,306.600006,272.549988,6.75,1249.849976,0.30,190.949997,2.6,70.699997,307.600006,612.750000,...,1095.349976,467.399994,169.399994,34.900002,882.099976,34.500000,207.600006,501.649994,39.150002,1.00